/*Typography*/
@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/gpe5mkr.css") format("woff2");
  font-display: auto;
  font-style: normal;
}
/*Typography*/

/*Body*/
body {
  font-family: "montserrat", "Open Sans", "serif";
  overflow-x: hidden;
  margin: 0;
}
/*Body*/

/*Header*/
header {
  margin-bottom: 500px;
  background-image: url(../images/home-page.jpg);
  height: 1500px;
  background-repeat: no-repeat;
  min-height: 100px;
}

/*hamburger*/
nav,
#hamburger-menu {
  display: none;
}

.hamburger-label {
  color: #0b3a40;
  position: absolute;
  left: 97%;
  font-size: 1.5em;
  display: block;
  top: 10px;
}
#hamburger-menu {
  margin: 0;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

/*hamburger*/

.logo {
  max-width: 200px;
  margin-left: 150px;
  margin-top: 20px;
}

/*Top*/
.topnav {
  background-color: #0b3a40;
  margin-top: -40px;
  padding: 5px;
  overflow: hidden;
}
.topnav li a {
  color: aliceblue;
  font-size: 15px;
  padding: 20px;
  position: relative;
  right: 320px;
  text-decoration: none;
}
.topnav li {
  float: right;
}
.topnav a:hover {
  color: #f17a13;
}
/*Top*/

/*Main navigation*/

ul {
  margin-left: 450px;
  margin-top: -120px;
  display: flex;
}
nav li {
  display: block;
  list-style-type: none;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-top: 50px;
}
nav a {
  color: #0b3a40;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  padding: 30px;
  font-size: 25px;
}
nav a:hover {
  color: #f17a13;
}
/*Main navigation*/
/*Header*/

.startquote {
  position: absolute;
  top: 42%;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  line-height: 150%;
  color: white;
  font-weight: 500;
}

button {
  padding: 0;
  border: none;
}

button a {
  color: white;
  text-decoration: none;
}

.shop-now {
  background-color: #f17a13;
  text-align: center;
  position: absolute;
  transition-duration: 0.7s;
  top: 53%;
  left: 47%;
  padding: 15px 32px;
  margin: 4px 2px;
}

/*Header*/

/*Main*/
main {
  margin-bottom: 40000px;
}

.pushing {
  color: #0d0d0d;
  font-size: 40px;
}
/*BALLS*/

.balls {
  justify-content: space-between;
}

.dot {
  height: 300px;
  width: 300px;
  background-color: #b5b5b5;
  opacity: 20%;
  border-radius: 50%;
  box-shadow: 30px 30px 30px gray;
  display: inline-block;
  margin-left: 100px;
}

.ballone {
  margin-top: -280px;
  margin-left: 130px;
  margin-right: 1225px;
  font-size: 15px;
  opacity: 80%;
}

.ballonee {
  display: inline-block;
  font-size: 30px;
  margin-left: 50px;
}

/*BALLS*/

.best {
  margin-top: 600px;
}

/*Main*/

/*Footer*/
footer {
  overflow: hidden;
  background-color: gray;
  bottom: 0px;
  width: 100%;
  height: 200px;
}

footer a {
  display: inline-block;
  color: #0b3a40;
  text-decoration: none;
}

footer li {
  list-style: none;
}
footer p {
  float: left;
}

footer a {
  position: relative;
  background-color: transparent;
  text-decoration: none;
  font-size: 15px;
}

/*Footer*/
