/*Typography*/
@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/gpe5mkr.css") format("woff2");
  font-display: auto;
  font-style: normal;
}
/*Typography*/

/*Body*/
body {
  font-family: "montserrat", "Open Sans", "serif";
  overflow-x: hidden;
  margin: 0;
}
/*Body*/

/*Header*/
header {
  background-image: url(../images/home-page.jpg);
  background-size: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  min-height: 100px;
}

/*hamburger*/
nav,
#hamburger-menu {
  display: none;
}
.hamburger-label {
  color: #ffffff;
  position: absolute;
  left: 97%;
  font-size: 1.5em;
  display: block;
  top: 20px;
  padding: 0;
}
#hamburger-menu {
  margin: 0;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

/*hamburger*/

.logo {
  max-width: 150px;
  margin-left: 150px;
  margin-top: 20px;
}

/*Top nav*/

.topnav {
  overflow: hidden;
  background-color: #0b3a40;
}

.topnav a {
  font-size: 18px;
  float: right;
  color: #ffffff;
}

.search {
  position: relative;
  float: right;
  right: 20%;
  top: 20px;
}
input {
  height: 30px;
}

.topnav li a {
  position: relative;
  right: 21%;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  top: -5px;
}

.bottomnav {
  display: flex;
  justify-content: space-around;
}

.bottomnav li a {
  font-size: 20px;
}
/*Top nav*/

/*Main navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
}

li a {
  color: #0b3a40;
  text-decoration: none;
}

.bottomnav {
  position: relative;
  width: 1200px;
  top: -60px;
  padding: 20px;
  left: 300px;
  padding: 10px;
}

.bottomnav li a {
  font-size: 20px;
}
nav a:hover {
  color: #f17a13;
}
/*Main navigation*/

/*Header*/

.startquote {
  position: absolute;
  top: 68%;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 500;
  font-size: 40px;
}

.shop-now {
  background-color: #f17a13;
  opacity: 70%;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  left: 47%;
  top: 85%;
  width: 150px;
  height: 50px;
}

.shop-now a {
  text-decoration: none;
  color: #ffffff;
}

.shop-now:hover {
  opacity: 100%;
}
/*Header*/

/*Main*/
main {
  margin-top: 0px;
  height: 4000px;
}

.pushing {
  top: 1000px;
  color: #0d0d0d;
  font-size: 40px;
  margin-left: 150px;
  margin-right: 150px;
}

/*BALLS*/

.circles {
  display: inline-block;
  position: absolute;
  top: 1120px;
  margin-bottom: 500px;
  margin-left: 150px;
  margin-right: 150px;
}

.dot {
  position: absolute;
  left: 10px;
  height: 320px;
  width: 320px;
  background-color: rgba(2, 89, 81, 0.6);
  border-radius: 50%;
  box-shadow: 10px 20px 20px rgba(181, 181, 181, 0.5);
  display: inline-block;
}

.dottwo {
  position: absolute;
  left: 658px;
  height: 320px;
  width: 320px;
  background-color: rgba(2, 89, 81, 0.6);
  border-radius: 50%;
  box-shadow: 10px 20px 20px rgba(181, 181, 181, 0.5);
  display: inline-block;
}

.dotthree {
  position: absolute;
  left: 1270px;
  height: 320px;
  width: 320px;
  background-color: rgba(2, 89, 81, 0.6);
  border-radius: 50%;
  box-shadow: 10px 20px 20px rgba(181, 181, 181, 0.5);
  display: inline-block;
}

.info-circle {
  font-size: 18px;
}

.info-one {
  position: absolute;
  top: 1155px;
  opacity: 80%;
  width: 200px;
  left: 220px;
}

.info-two {
  position: absolute;
  opacity: 80%;
  top: 1155px;
  width: 200px;
  left: 870px;
}

.info-three {
  position: absolute;
  opacity: 80%;
  top: 1155px;
  width: 200px;
  left: 1490px;
}

/*BALLS*/

.best-sellers {
  position: absolute;
  top: 1500px;
  display: inline-block;
  overflow: hidden;
  background: gray;
  width: 2000px;
  height: 1000px;
}

.top {
  position: absolute;
  top: 2500px;
}

footer {
  position: absolute;
  top: 3000px;
}

/*Best sellers*/
/*Footer*/
