header{
  background-image: url(../images/men-home.jpg);
}
.current {
  text-decoration: underline;
}


/*Main*/
.mini-header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  top: 555px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 380px;
  cursor: pointer;
}

.mini-header img:hover {
  border: 2px solid #f17a13;
}

.mini-header h2 {
  margin-top: 100px;
  color: #ffffff;
}

.all-jackets {
  position: relative;
  display: flex;
  color: #000000;
  opacity: 85%;
  font-size: 40px;
  margin-left: 100px;
  margin-right: 150px;
  align-items: flex-start;
}




.products{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(243, 243, 243);
  padding: 10px;
}

.product{
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;  
}

.product img {
  width: 100%;
  height: 50%;
}
.product img:hover{
  height: 52%;
}

 .product a{
  text-decoration: none;
  color: #0b3a40;
}


.show {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-content: space-around;
  margin-bottom: 100px;
}

.show-more {
  background-color: #f17a13;
  opacity: 70%;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 150px;
  height: 50px;
  color: #ffffff;
}

.show-more a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
}

.show-more:hover {
  opacity: 100%;
}
/*Main*/


/*MQ for phones screens*/
@media (max-width: 426px){
/*Main navigation*/
  header{
    background-size: 1100px 860px;
  }
  .mini-header{
  top: 510px;
  }
  .example2 {
    display: none;
  }
  .example3{
    display: none;
  }
  .all-jackets{
    top: -90px;
    left: -185px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    width: 500px;
  }

  .jackets{
    position: relative;
    top: -100px;
  }
  .show{
    position: relative;
    top: -100px;
  }
}
/*MQ for phones screens*/

/*MQ for tablet screens*/
@media (max-width: 769px) and (min-width: 427px){
  .mini-header{
  top: 580px;
  }
  .example3{
    display: none;
  }
  .all-jackets{
    top: -10px;
    left: -5px;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    width: 500px;
  }

  .jackets{
    position: relative;
    top: -20px;
  }
  .show{
    position: relative;
    top: -50px;
  }
}
/*MQ for tablet screens*/

/*MQ for small laptop screens*/
@media (max-width: 1025px) and (min-width: 770px){
}
/*MQ for small laptop screens*/

/*MQ for laptops screens*/
@media (max-width: 1440px) and (min-width: 1024px){
}
/*MQ for laptops screens*/