/*Typography*/
@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/gpe5mkr.css") format("woff2");
  font-display: auto;
  font-style: normal;
}
/*Typography*/

/*Body*/
body {
  font-family: "montserrat", "Open Sans", "serif";
  margin: 0;
  margin-top: -40px;
}
/*Body*/

/*Header*/
header {
  background-image: url(../images/men-home.jpg);
  height: 1500px;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 40px;
}

/*hamburger*/
nav,
#hamburger-menu {
  display: none;
}
.hamburger-label {
  color: #ffffff;
  position: absolute;
  left: 97%;
  font-size: 1.5em;
  display: block;
  top: 5px;
  padding: 0;
}
#hamburger-menu {
  margin: 0;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

/*hamburger*/

.logo {
  max-width: 150px;
  margin-left: 150px;
  margin-top: 20px;
}

/*Top nav*/

.topnav {
  overflow: hidden;
  background-color: #0b3a40;
}

.topnav a {
  font-size: 12px;
  float: right;
  color: #ffffff;
}

.topnav li a {
  position: relative;
  right: 10%;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.bottomnav {
  display: flex;
  justify-content: space-around;
}

.bottomnav li a {
  font-size: 20px;
}
/*Top nav*/

/*Main navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
}

li a {
  color: #0b3a40;
  text-decoration: none;
}

.bottomnav {
  position: relative;
  width: 1200px;
  top: -60px;
  padding: 20px;
  left: 300px;
  padding: 10px;
}

.bottomnav li a {
  font-size: 20px;
}
nav a:hover {
  color: #f17a13;
}
/*Main navigation*/

/*Header*/
/*Main*/
main {
  margin-top: -400px;
  padding-left: 135px;
  padding-right: 135px;
}

/*Main*/
