header{
  background-image: url(../images/account.jpg);
}

/*Form*/
.login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 275px;
  left: 500px;
  background-color: #ffffff;
  height: 400px;
  width: 400px;
  border-style: solid;
  border-color: #0b3a40;
  border-width: 3px;

  padding-top: 40px;
  padding-bottom: 20px;
}
legend {
  position: relative;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding-left: 40px;
  color: #0b3a40;
}

.form_input {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
label {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 40px;
}

#email {
  position: relative;
  top: 40px;
}

#psw {
  position: relative;
  top: 60px;
}
.forgot {
  position: relative;
  left: 35px;
  top: 100px;
  text-decoration: none;
  color: #000000;
}
.submit {
  position: relative;
  top: 40px;
  left: 190px;
  background-color: #f17a13;
  opacity: 70%;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 150px;
  height: 50px;
  color: #ffffff;
}
.submit:hover {
  opacity: 100%;
}
.create {
  position: relative;
  top: 150px;
  left: 140px;
  text-decoration: none;
  color: #000000;
}
/*Form*/

/*MQ for phones screens*/
@media (max-width: 426px){
  header{
    background-size: 700px 860px;
  }

  /*Form*/
.login {
  top: 205px;
  left: 70px;
  height: 450px;
  width: 300px;
  padding-top: 40px;
  padding-bottom: 20px;
}
legend {
  font-size: 15px;
}

.form_input {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.forgot {
  top: 180px;
}
.submit {
  top: 50px;
  left: 80px;
  font-size: 12px;
  width: 120px;
  height: 35px;
}

.create {
  top: 220px;
  left: 35px;
  text-decoration: none;
  color: #000000;
}
/*Form*/
}
/*MQ for phones screens*/

/*MQ for tablet screens*/
@media (max-width: 769px) and (min-width: 427px){
  header{
    background-size: 900px 900px;
  }

  /*Form*/
.login {
  top: 205px;
  left: 180px;
}
legend {
  font-size: 18px;
}
.form_input {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.forgot {
  top: 180px;
}
.submit {
  top: 50px;
  left: 80px;
  font-size: 12px;
  width: 120px;
  height: 35px;
}

.create {
  top: 160px;
  left: 225px; 
}
/*Form*/
}
/*MQ for tablet screens*/

/*MQ for small laptop screens*/
@media (max-width: 1024px) and (min-width: 770px){
  header{
    background-size: 1200px 1000px;
  }

  /*Form*/
.login {
  top: 205px;
  left: 280px;
}
/*Form*/
}
/*MQ for small laptop screens*/

/*MQ for laptops screens*/
@media (max-width: 1440px) and (min-width: 1024px){
}
/*MQ for laptops screens*/
