/*Typography*/
@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/gpe5mkr.css") format("woff2");
  font-display: auto;
  font-style: normal;
}
/*Typography*/

/*Body*/
body {
  font-family: "montserrat", "Open Sans", "serif";
  overflow-x: hidden;
  margin: 0;
  display: grid;
}
/*Body*/

/*Header*/
header {
  background-image: url(../images/new_arrivals.png);
  background-size: cover;
  height: 945px;
  background-repeat: no-repeat;
}

/*hamburger*/
#hamburger-menu {
  display: none;
}
.hamburger-label {
  color: #ffffff;
  position: absolute;
  left: 97%;
  font-size: 1.5em;
  display: none;
  top: 15px;
  padding: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger-label {
    display: flex;
  }
  nav {
    display: none;
  }
}

#hamburger-menu {
  margin: 0;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
/*hamburger*/

/*Top nav*/

.topnav {
  background-color: #0b3a40;
  display: flex;
  height: 40px;
  align-items: center;
}

.topnav li a {
  position: relative;
  left: 1500px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  color: #ffffff;
}

/*Top nav*/

/*Main navigation*/
.bottomnav {
  background-color: #ffffff;
  height: 120px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo {
  display: flex;
  max-width: 150px;
  position: relative;
  top: 10px;
  right: 400px;
}

.bottomnav img a {
  position: relative;
  left: 500px;
  top: 10px;
}

.bottomnav li a {
  font-size: 20px;
  padding: 40px;
  position: relative;
  top: 50px;
  right: 140px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: #0b3a40;
  text-decoration: none;
}

nav a:hover {
  color: #f17a13;
}

.current {
  text-decoration: underline;
}
/*Main navigation*/
.collection {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main";
  color: #ffffff;
  text-align: center;
}

.collection h1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
  grid-area: header;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
}
.collection p {
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
  grid-area: main;
  margin-right: 500px;
  margin-left: 500px;
}
.list {
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  top: 491px;
}

/*Header*/

/*Main*/
.jackets {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 50px;
  cursor: pointer;
}

.jackets div {
  padding-bottom: 50px;
}

.body-text {
  text-align: center;
}

.pris {
  text-align: center;
}

.jackets div:hover {
  border: 1px solid #a6a394;
}

/*Main*/

/*Footer*/
.garanti {
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 250px 300px 250px;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  justify-content: space-evenly;
  color: #000000;
  opacity: 85%;
  font-weight: 500;
  font-style: normal;
}

.garanti h3 {
  border: 1px solid #000;
  text-align: center;
}

.garanti p {
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 150px 150px 250px 250px 150px;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 2px solid #f17a13;
  border-bottom: 2px solid #f17a13;
  line-height: 30px;
}

footer h3 {
  text-decoration: underline;
}
.bottom_logo {
  padding-top: 25px;
}

.rights {
  background-color: #0b3a40;
}
.rights p {
  margin-left: 150px;
  color: #ffffff;
}
/*Footer*/
