
/*Header*/
header {
  background-image: url(../images/new_arrivals.png);
}
.topnav{
  height: 55px;
}
.current {
  text-decoration: underline;
}

.bottomnav {
  display: flex;
  text-align: center;
  justify-content: center;
  top: -90px;
}
.background_white{
  position: relative;
  top: 40px;
  background-color: #ffffff;
  height: 120px;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
  max-width: 150px;
}


/*Header*/
.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  position: relative;
  top: 100px;
}

.collection h1 {
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
}
.collection p {
  width: 900px;
  line-height: 25px;
  position: relative;
  top: 10px;
}
.list {
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  top: 484px;
}
/*Header*/

/*Main*/
.jackets {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 50px;
  cursor: pointer;
}

.jackets div {
  padding-bottom: 50px;
}

.body-text {
  text-align: center;
}

.pris {
  text-align: center;
}

.jackets div:hover {
  border: 1px solid #a6a394;
}
/*Main*/

/*MQ for phones screens*/
@media (max-width: 426px){
  /*Main navigation*/
  .bottomnav {
    position: relative;
    background-color: #0b3a40;
    height: 250px;
    width: 200px;
    left: 230px;
    top: -71px;
    display: none;
    justify-content: space-evenly;
    line-height: 55px;
  }
  .background_white{
    position: relative;
    top: 40px;
    background-color: #ffffff;
    height: 100px;
  }
  .logo {
    top: 50px;
    left: 20px;
  }
  .bottomnav li a {
    font-size: 12px;

  }
  /*Main navigation*/

  
/*Header*/
.collection h1 {
margin-left: 80px;
  font-size: 25px;
}
.collection p {
  width: 350px;
  margin-left: 40px;
  margin-right: 40px;
}
.list {
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  font-size: 10px;
  top: 416px;
}
/*Header*/
.garanti{
  position: relative;
  top: -100px;
}
}

/*MQ for phones screens*/

/*MQ for tablet screens*/
@media (max-width: 769px) and (min-width: 427px){
  /*Top nav*/
  .topnav li a {
    font-size: 14px;
  }
  li button {
    font-size: 14px;
  }
  .search {
    width: 200px;
  }
  /*Top nav*/
  
  /*Main navigation*/
  .bottomnav {
    position: relative;
    background-color: #0b3a40;
    height: 250px;
    width: 300px;
    left: 470px;
    top: -71px;
    display: none;
    justify-content: space-evenly;
    line-height: 55px;
  }
  .background_white{
    position: relative;
    top: 40px;
    background-color: #ffffff;
    height: 100px;
  }
  .logo {
    top: 50px;
    left: 20px;
  }
  .bottomnav li a {
    font-size: 14px;
    position: relative;
    top: 20px;
    color: #ffffff;
  }
  nav a:hover {
    color: #f17a13;
  }
  /*Main navigation*/

/*Header*/
.collection h1 {
    margin-left: 40px;
    font-size: 30px;
  }
  .collection p {
    width: 700px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .list {
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    font-size: 14px;
    top: 541px;
  }
  /*Header*/
  .garanti{
    position: relative;
    top: -100px;
  }
}
/*MQ for tablet screens*/

/*MQ for small laptop screens*/
@media (max-width: 1025px) and (min-width: 770px){


/*Main navigation*/

.background_white{
  position: relative;
  top: 40px;
  background-color: #ffffff;
  height: 100px;
}
.logo {
  top: 50px;
  left: 20px;
}
/*Main navigation*/

/*Header*/

.list {
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  font-size: 16px;
  top: 505px;
}

.jackets{
  margin-left: 10px;
  margin-right: 10px;
}
/*Header*/
.garanti{
  position: relative;
  top: -100px;
}
}
/*MQ for small laptop screens*/

/*MQ for laptops screens*/
@media (max-width: 1441px) and (min-width: 1026px){
  .list {
    display: flex;
    color: #ffffff;
    justify-content: space-around;
    top: 485px;
  }
  
  .jackets{
    margin-left: 5px;
    margin-right: 5px;
  }
  /*Header*/
  .garanti{
    position: relative;
    top: -100px;
  }
}
/*MQ for laptops screens*/