/*Typography*/
@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/gpe5mkr.css") format("woff2");
  font-display: auto;
  font-style: normal;
}
/*Typography*/

/*Body*/
body {
  font-family: "montserrat", "Open Sans", "serif";
  margin: 0;
  display: grid;
}
/*Body*/

/*Header*/
header {
  background-image: url(../images/new-jackets.jpg);
  height: 1500px;
  background-repeat: no-repeat;
  position: relative;
}

/*hamburger*/
nav,
#hamburger-menu {
  display: none;
}
.hamburger-label {
  color: #ffffff;
  position: absolute;
  left: 97%;
  font-size: 1.5em;
  display: block;
  top: 5px;
  padding: 0;
}
#hamburger-menu {
  margin: 0;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

/*hamburger*/

.logo {
  max-width: 150px;
  margin-left: 150px;
  margin-top: 20px;
}

/*Top nav*/

.topnav {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: right;
  grid-column-gap: 30px;
  padding: 15px;
  overflow: hidden;
  background-color: #0b3a40;
}

.topnav a {
  font-size: 12px;
  color: #ffffff;
  margin-right: 200px;
}

/*Top nav*/

/*Main navigation*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  color: #0b3a40;
  text-decoration: none;
}

.bottomnav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 100px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  top: -75px;
  justify-content: center;
}

.bottomnav li a {
  font-size: 20px;
}
nav a:hover {
  color: #f17a13;
}

.whitenav {
  background-color: #ffffff;
  height: 120px;
}
/*Main navigation*/

h1 {
  position: absolute;
  top: 70%;
  width: 100%;
  letter-spacing: 2px;
  text-align: center;
  line-height: 200%;
  color: white;
}

.shop-now {
  background-color: #f17a13;
  opacity: 80%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  position: absolute;
  top: 90%;
  left: 47%;
}

.shop-now:hover {
  background-color: white;
  color: orange;
  border: none;
  opacity: 100%;
}
/*Header*/

/*Main*/
main {
}

/*Main*/
