/*Typography*/
@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/gpe5mkr.css") format("woff2");
  font-display: auto;
  font-style: normal;
}
/*Typography*/

/*Body*/
body {
  font-family: "montserrat", "Open Sans", "serif";
  overflow-x: hidden;
  margin: 0;
}
/*Body*/

/*Header*/
header {
  background-image: url(../images/journey.jpg);
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
}

/*hamburger*/
#hamburger-menu {
  display: none;
}
.hamburger-label {
  color: #ffffff;
  position: absolute;
  left: 97%;
  font-size: 1.5em;
  display: none;
  top: 15px;
  padding: 0;
}
@media only screen and (max-width: 1000px) {
  .hamburger-label {
    display: flex;
  }
  nav {
    display: none;
  }
}

#hamburger-menu {
  margin: 0;
}
#hamburger-menu:checked ~ nav {
  display: block;
}

/*hamburger*/

/*Top nav*/

.topnav {
  background-color: #0b3a40;
  display: flex;
  height: 40px;
  align-items: center;
}

.topnav li a {
  position: relative;
  left: 1500px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  color: #ffffff;
}

/*Top nav*/

/*Main navigation*/
.bottomnav {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo {
  display: flex;
  max-width: 150px;
  position: relative;
  top: 10px;
  right: 400px;
}

.bottomnav img a {
  position: relative;
  left: 500px;
  top: 10px;
}

.bottomnav li a {
  font-size: 20px;
  padding: 40px;
  position: relative;
  top: 50px;
  right: 140px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: #0b3a40;
  text-decoration: none;
}

nav a:hover {
  color: #f17a13;
}
.current {
  text-decoration: underline;
}

.the-journey {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 85%;
  position: relative;
}
.the-journey h1 {
  position: relative;
  top: -40px;
  font-size: 40px;
  color: #000000;
  opacity: 85%;
}

.the-journey p {
  position: relative;
  top: -30px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 30px;
}

/*Main navigation*/

/*Main*/
.contact {
  background-color: #f17a13;
  position: relative;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}
.contact h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #ffffff;
}
.our-info {
  background-color: #ffffff;
  margin-left: 100px;
  margin-right: 100px;
  height: 300px;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 80px 100px 100px;
  grid-template-areas:
    "header header"
    "left right"
    "bottom email";
  padding-left: 100px;
  position: relative;
}
.header-example {
  grid-area: header;
  justify-content: center;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  position: relative;
}
.our-info address {
  grid-area: left;
}

.contact-email {
  grid-area: email;
}

form {
  display: grid;
  grid-template-areas:
    "name subject"
    "email number"
    "message message"
    "left center";
  grid-template-columns: 350px 220px;
  grid-template-rows: 50px 50px 200px 20px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

#name {
  grid-area: name;
  height: 30px;
  border: none;
  outline: none;
  width: 200px;
  padding-left: 20px;
}

#subject {
  grid-area: subject;
  height: 30px;
  border: none;
  outline: none;
  width: 200px;
  padding-left: 20px;
}
#email {
  grid-area: email;
  height: 30px;
  border: none;
  outline: none;
  width: 200px;
  padding-left: 20px;
}
#number {
  grid-area: number;
  height: 30px;
  border: none;
  outline: none;
  width: 200px;
  padding-left: 20px;
}
textarea {
  grid-area: message;
  border: none;
  outline: none;
  padding-left: 20px;
}
#destination {
  position: relative;
  left: 370px;
  top: -300px;
}
.submit {
  grid-area: left;
  position: relative;
  top: 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 150px;
  height: 50px;
  color: #000000;
}

.underline {
  border-bottom: 2px solid #f17a13;
  margin-right: 1300px;
}
.get-to-know {
  position: relative;
  left: 200px;
  color: #000000;
  opacity: 85%;
  font-size: 40px;
}

.founder {
  display: flex;
  margin-left: 200px;
  margin-right: 150px;
  justify-content: space-between;
}

.names {
  margin-top: 20px;
  flex-direction: column;
  padding-right: 100px;
  margin-bottom: 50px;
}

/*Main*/

/*Footer*/
footer {
  display: grid;
  grid-template-columns: 150px 150px 250px 250px 150px;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 2px solid #f17a13;
  border-bottom: 2px solid #f17a13;
  line-height: 30px;
}

footer h3 {
  display: flex;
  text-decoration: underline;
}
.bottom_logo {
  display: flex;
  padding-top: 25px;
}

.rights {
  background-color: #0b3a40;
  display: flex;
}
.rights p {
  margin-left: 150px;
  color: #ffffff;
}
