/*Typography*/
@font-face {
  font-family: "montserrat";
  src: url("https://use.typekit.net/gpe5mkr.css") format("woff2");
  font-display: auto;
  font-style: normal;
}
/*Typography*/
* {
  box-sizing: border-box;
}

/*Body*/
body {
  font-family: "montserrat", "Open Sans", "serif";
  overflow-x: hidden;
  margin: 0;
}
/*Body*/

/*Header*/
header {
  background-image: url(../images/journey.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
  top: -30px;
}

/*hamburger*/
#hamburger-menu {
  display: none;
  margin: 0;
}
.hamburger-label {
  color: #ffffff;
  position: absolute;
  left: 85%;
  font-size: 1, 5em;
  top: 42px;
  padding: 0;
  cursor: pointer;
  display: none;
}

#hamburger-menu:checked ~ .bottomnav {
  display: inline-block;
}
/*hamburger*/

/*Top nav*/
.topnav {
  background-color: #0b3a40;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  position: relative;
  top: 30px;
}

.topnav li a {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  color: #ffffff;
}
.account {
  margin-right: 100px;
}

.search {
  width: 300px;
  height: 25px;
  border: none;
}

.sb {
  margin-right: 80px;
}
.sb button {
  background-color: #ffffff;
  color: #0b3a40;
  border: none;
  height: 25px;
  position: absolute;
}
::placeholder {
  color: #0b3a40;
}
/*Top nav*/

/*Main navigation*/
.bottomnav {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 50px;
  max-width: 150px;
}

.bottomnav li a {
  font-size: 20px;
  padding: 40px;
  position: relative;
  top: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  color: #0b3a40;
  text-decoration: none;
}

nav a:hover {
  color: #f17a13;
}
.current {
  text-decoration: underline;
}
/*Main navigation*/

.the-journey {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 85%;
  position: relative;
  top: 120px;
}
.the-journey h1 {
  position: relative;
  top: -40px;
  font-size: 40px;
  color: #000000;
  opacity: 85%;
}

.the-journey p {
  position: relative;
  top: -30px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 30px;
}

/*Main navigation*/

/*Main*/
.contact {
  background-color: #f17a13;
  position: relative;
  top: 30px;
  left: 350px;
  width: 1200px;
  height: 800px;
}

.contact h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #ffffff;
  position: relative;
  top: 10px;
}
.our-info {
  background-color: #ffffff;
  height: 200px;
  width: 1000px;
  position: relative;
  left: 100px;
}
.header-example {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  position: relative;
  left: 50px;
  top: 10px;
}
.our-info address {
  line-height: 25px;
}

.moreinfo {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  line-height: 30px;
}

.map {
  font-size: 100px;
  color: #0b3a40;
  position: relative;
  left: 90px;
}

.insertinfo {
  position: relative;
  top: 45px;
  margin-left: 80px;
  margin-right: 600px;
}

.insertinfo input {
  width: 180px;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
}

.insertinfo label {
  padding-left: 20px;
}

.email,
.number {
  position: relative;
  top: 20px;
}

#destination {
  position: relative;
  top: -270px;
  float: right;
  margin-right: 100px;
}

textarea {
  position: relative;
  top: 100px;
  left: 100px;
  outline: none;
  border: none;
}
.submit {
  position: relative;
  right: 180px;
  top: 160px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 150px;
  height: 50px;
  color: #000000;
}

/*Contact*/
.underline {
  position: relative;
  top: 50px;
  border-bottom: 2px solid #f17a13;
  margin-right: 1390px;
}
.get-to-know {
  position: relative;
  top: 25px;
  left: 120px;
  color: #000000;
  opacity: 85%;
  font-size: 40px;
}

.founder {
  display: flex;
  padding: 0px;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
  position: relative;
  top: -20px;
}
.names {
  width: 400px;
}

.names i {
  font-size: 40px;
  display: flex;
}

.co {
  font-style: italic;
}
.sur {
  font-weight: bold;
}

/*Main*/

/*Footer*/
footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 2px solid #f17a13;
  border-bottom: 2px solid #f17a13;
  line-height: 30px;
}
footer p {
  width: 200px;
}

.follow a {
  padding-left: 10px;
}
.follow i {
  color: #0b3a40;
}

footer h3 {
  text-decoration: underline;
}
.bottom_logo {
  display: flex;
  padding-top: 25px;
}
/*Footer*/

.rights {
  background-color: #0b3a40;
  display: flex;
}
.rights p {
  position: relative;
  left: 175px;
  color: #ffffff;
}

/*MQ for small phones screens*/
