/*Header*/
header {
  background-image: url(../images/journey.jpg);
}
.current {
  text-decoration: underline;
}
/*Main navigation*/
.the-journey {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 250px;
  text-align: center;
  padding-top: 50px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 85%;
}
.mini_text{
  display: none;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 30px;
}
.the-journey h1 {
  font-size: 40px;
  color: #000000;
  opacity: 85%;
}

.the-journey p {
  padding-left: 60px;
  padding-right: 60px;
  line-height: 30px;
}

/*Main navigation*/

/*Main*/
.contact {
  background-color: #f17a13;
  height: 1200px;
  margin-bottom: 20px;
}

.contact h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #ffffff;
  padding: 20px;
}
.our-info {
  background-color: #ffffff;
  height: 200px;
  width: 1287px;
  margin-left: 100px;
  margin-right: 100px;  
}
.header-example {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 80px;
}
.our-info address {
  padding-left: 80px;
  padding-right: 80px;
  line-height: 25px;
}

.moreinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 20px;
  line-height: 30px;
}
.contact-nb{
  padding-left: 80px;
  padding-right: 80px;
}
.contact-email{
  padding-left: 80px;
  padding-right: 80px;
}

.map {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 100px;
  color: #0b3a40;
  
}

.insertinfo {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  padding-top: 40px;
  margin-left: 80px;
  margin-right: 600px;
}

.insertinfo input {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 20px;
}

.insertinfo label {
  padding-left: 20px;
}

.email,
.number {
  position: relative;
  top: 40px;
}

#destination {
  position: relative;
  top: -80px;
  float: right;
  margin-right: 100px;
  margin-bottom: 20px;
}

textarea {
  position: relative;
  top: 100px;
  margin-left: 100px;
  outline: none;
  border: none;
}
.submit {
  position: relative;
  right: 415px;
  top: 160px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  width: 150px;
  height: 50px;
  color: #000000;
}

.submit:hover{
  background-color: #0b3a40;
  color: #ffffff;
}

/*Contact*/
.get-to-know {
  margin-top: 20px;
  margin-left: 80px;
  color: #000000;
  opacity: 85%;
  font-size: 40px;
}

.founder {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 35px;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}
.names {
  width: 400px;
}

.names i {
  font-size: 40px;
  display: flex;
}

.co {
  font-style: italic;
}
.sur {
  font-weight: bold;
}

label{
  display: block;
  margin-top: 1rem;
}
.form-error{
  display: flex;
  display: none;
  padding-top: 50px;
  padding-left: 20px;
}
/*Main*/

/*MQ for phones screens*/
@media (max-width: 426px){
.the-journey {
  top: 300px;
  height: 500px;
  padding-left: 40px;
  padding-right: 40px;
}
.main_text{
  display: none;
}
.mini_text{
  display: contents;
}
.the-journey h1 {
  font-size: 25px;
}



/*Main navigation*/

/*Main*/
.contact {
  background-color: #f17a13;
  height: 2000px;
}
.contact h2 {
  font-size: 20px;
}
.moreinfo{
  position: relative;
  top: -50px;
}
.our-info {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 360px;
  margin-left: 35px;
}

.header-example {
  display: flex;
  font-size: 20px;
}


.insertinfo {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 600px;
}

.insertinfo input {
  margin-top: 30px;
}



#destination {
  top: 200px;
  left: 200px;
}

textarea {
  margin-left: 40px;
  width: 300px;
}
.submit {
  right: -105px;
  top: 130px;
}

/*Contact*/
.get-to-know {
  margin-top: 170px;
  margin-left: 30px;
  font-size: 30px;
}

.founder {
  padding-left: 10px;
}
.names {
  padding-top: 30px;
  width: 350px;
}

/*Main*/
}
/*MQ for phones screens*/

/*MQ for tablet screens*/
@media (max-width: 769px) and (min-width: 427px){
  .the-journey {
    top: 200px;
    height: 350px;
  }
  .main_text{
    display: none;
  }
  .mini_text{
    display: contents;
  }
  .the-journey h1 {
    font-size: 25px;
  }
  /*Main navigation*/
  
  /*Main*/
  .contact {
    background-color: #f17a13;
    height: 1850px;
  }
  .contact h2 {
    font-size: 20px;
  }
  .moreinfo{
    position: relative;
    top: -120px;
  }
  
  .our-info {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 660px;
    margin-left: 35px;
  }
  
  .header-example {
    display: flex;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  
  .insertinfo {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 600px;
  }
  
  .insertinfo input {
    margin-top: 30px;
  }
  
  
  
  #destination {
    top: 200px;
    left: -30px;
  }
  
  textarea {
    margin-left: 40px;
    width: 620px;
  }
  .submit {
    right: -45px;
    top: 130px;
  }
  
  /*Contact*/
  .get-to-know {
    padding-top: 20px;
    margin-left: 40px;
    font-size: 30px;
  }
  
  .founder {
    padding-left: 40px;
  }
  .names {
    padding-top: 30px;
    width: 350px;
  }
  /*Main*/
}
/*MQ for tablet screens*/

/*MQ for small laptop screens*/
@media (max-width: 1024px) and (min-width: 770px){
  .the-journey {
    top: 200px;
    height: 450px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .main_text{
    display: contents;
  }
  .mini_text{
    display: none;
  }
  .the-journey h1 {
    font-size: 25px;
  }
  /*Main navigation*/
  
  /*Main*/
  .contact {
    background-color: #f17a13;
    height: 1750px;

  }
  .contact h2 {
    font-size: 30px;
  }
  .moreinfo{
    position: relative;
    top: -120px;
  }
  
  .our-info {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 860px;
    margin-left: 85px;
  }
  
  .header-example {
    display: flex;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  
  .insertinfo {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    padding-top: 40px;
    margin-left: 70px;
    margin-right: 600px;
  }
  
  .insertinfo input {
    margin-top: 30px;
  }
  
  
  
  #destination {
    top: 260px;
    left: -100px;
  }
  
  textarea {
    margin-left: 85px;
    width: 720px;
  }
  .submit {
    right: 405px;
    top: 190px;
  }
  
  /*Contact*/
  .get-to-know {
    padding-top: 20px;
    margin-left: 40px;
    font-size: 30px;
  }
  
  .founder {
    padding-left: 40px;
  }
  .names {
    padding-top: 30px;
    width: 350px;
  }
  /*Main*/
}

/*MQ for small laptop screens*/

/*MQ for laptops screens*/
@media (max-width: 1440px) and (min-width: 1024px){
}
/*MQ for laptops screens*/
